.Contact{
    border: 2px solid black;
    width: 80%;
    margin: auto;
    height: 250px;
    border-radius: .5rem;
    background-color: beige;
    /* transform: translate(50%,50%); */
    /* text-align: center; */
    /* justify-content: center; */
    margin-top: 100px;
}
.lab{
    margin-bottom: 20px;
}
.btn{
    border-radius: .5rem;
    background-color: aquamarine;
}
.btn:hover{
    background-color: rgb(18, 93, 68);
}

