.Contact{
    width: 100%;
    margin: auto;
    height: 60vh;
    border-radius: .5rem;
    background-color: rgb(0, 0, 0);
    margin-top: 100px;
    margin-bottom: 20px;
}
.Contact h1{
    color: aliceblue;
}
.lab input{
    margin: 20px;
    width: 20%;
    color: aliceblue;
    padding: 10px;
    height: 10px;
}
.lab textarea{
    margin: 20px;
    width: 20%;
    padding: 10px;
    height: 40px;
}
.btn{
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);
    width: 10%;
    height: 5vh;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn:hover{
    background-color:rgb(215, 74, 27);
}

