.footer {
  width: 100%;
  height: 10vh;
  margin-top: 70px;
  background: rgb(0, 0, 0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: aliceblue;
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    /* height: 8vh;   */
    margin-top: 50px; 
    height: 50px;
    width: 460px;
  }

  .footer p {
    font-size: 14px;
    padding: 10px;
  }
}
