/* section{
    background:url("D3.jpg");
    background-size:cover;
    height: 95vh;
    background-position: center;
} */
body{
  height: 3000px;
}
#main {
  margin-top: 50px;
  margin-bottom: 100px;

}
.div2 h1 {
  font-size: 50px;
  color: rgb(241, 227, 223);
  /* background-color: rgb(236, 243, 131); */
}


.profile {
  width: 70%;
  border-radius: 80%;
  margin-top: 20px;
  margin-left: 100px;
}
.button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(241, 231, 231);
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1rem;
  padding-top: 10px;
}
.button:hover {
  background-color: rgb(100, 76, 76);
}
body {
  background: rgb(2, 0, 36);
 background-color: rgba(32, 29, 29, 0.986); 
  /* background-repeat: no-repeat; */
  height: 300vh;
}

#main {
  display: grid;
  grid-template-columns: 30% 70%;
}
.p1 {
  color: orangered;
  font-size: 35px;
  width: 250px;
  padding-left: 0px;
  
  padding-left: 400px;
  width: 300px;

  /* height: 30px; */
}
.p2 {
  color: aliceblue;
  font-size: 35px;
}
blockquote {
  margin-top: 2rem;
  opacity: 0.75;
  font-size: 25px;
  color: aliceblue;
}
@media (max-width: 736px) {
  .profile {
    margin-right: 20px;
    width: 100%;
    /* margin: auto; */
    justify-content: center;
  }
  .p2{
    font-size: 20px;
  }
  .div2 h1 {
    margin-top: 150px;
    margin-right: 60px;
    width: 100px;
  }
  .p1 {
    padding-left: 0px;
    font-size: 30px;
    padding-bottom: 20px;
    width: 150px;
    height: 50px;
  }
  .div2 blockquote {
    /* width: 300px;
    height: 200px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin: auto;
    justify-content: center;
    text-align: center; */
    transform: translate(-20%, -25%);
    color: rgb(242, 230, 230);
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 600px;
    padding-top: 20px;
    width: 250px;
    padding-bottom: 0.5px;
  }
  .div2 button {
    margin-right: 80px;
  }
 
}
