/* section{
    background:url("D3.jpg");
    background-size:cover;
    height: 95vh;
    background-position: center;
} */
body{
  font-family:'Times New Roman', Times, serif;
  border: 10px;

}
#main {
    margin-bottom: 80px;
    
}
.div2 h1 {
  font-size: 50px;
  color: rgb(241, 227, 223);
  /* background-color: rgb(236, 243, 131); */
}
.icons{
  padding: 20px;
}
.icons:hover{
  color: black;
  background-color: orangered;
}

.profile {
  border-radius: 80%;
  padding: 20px;
}
.button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(241, 231, 231);
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1rem;
  padding: 20px;
}
.button:hover {
  background-color: rgb(232, 99, 27);
  color: black;
}
body {
  height: 0px;
  background: rgb(2, 0, 36);
 background-color: rgba(32, 29, 29, 0.986); 
  /* background-repeat: no-repeat; */
  
}

#main {
  display: grid;
  grid-template-columns: 30% 70%;
}
.p1 {
  color: orangered;
  

  /* height: 30px; */
}
.p2 {
  color: aliceblue;
  font-size: 35px;
}
blockquote {
  margin-top: 2rem;
  opacity: 0.75;
  font-size: 25px;
  color: aliceblue;
}
@media(max-width: 736px) {
 body{
  width: auto;
 }
  .profile {
    margin-right: 20px;
    width: 100%;
    /* margin: auto; */
    justify-content: center;
  }
  .p2{
    font-size: 20px;
  }
  .div2 h1 {
    margin-top: 150px;
    margin-right: 60px;
    width: 100px;
  }
  .p1 {
    padding-left: 0px;
    font-size: 30px;
    padding-bottom: 20px;
    width: 150px;
    height: 50px;
  }
  blockquote {
   
    transform: translate(-20%, -25%);
    color: rgb(176, 126, 126);
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 600px;
    padding-top: 20px;
    width: 250px;
    padding-bottom: 0.5px;
  }
  .div2 button {
    margin-right: 80px;
  }
 img.profile{
  width: 150px;
  padding-left: 98px;
  p.p1{
    height: 80px;
    padding-bottom: 0px;
 

  }
  div.div1{
    height: 0px;
    width: 0px;
  }
  div.div2{
    margin: 20px;
    width: 250px;
    height: 600px;

  }
 }
}
