/* General Styles */
h3 {
  color: #fff;
  padding-left: 20px;
}

nav {
  height: 4rem;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #050505;
  width: 100%;
}

/* Hamburger Icon */
.hamburger-btn {
  display: none; /* Hidden on large screens */
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

/* Logo */
.logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* Navigation Links */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin-right: 20px;
}

.desktop:hover {
  color: rgb(255, 64, 0);
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

a.active {
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav {
    padding: 10px 20px;
  }

  /* Display hamburger button */
  .hamburger-btn {
    display: block;
  }

  /* Hide the nav links by default */
  ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 70%;
    height: auto;
    background-color: #050505;
    display: none;
    opacity: 0.9;
    padding: 20px 0;
    border-radius: 5px;
  }

  /* Show menu when active */
  ul.show {
    display: flex;
  }

  ul li {
    margin: 15px 0;
    text-align: center;
  }
}
