#container{
    display: grid;
    margin: auto;
    grid-template-columns: auto auto auto;
}

.b1{
   width: 100%;
   height: 90%;
   
}
.box{
    border: 2px solid black;
    width: 80%;
    height: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: .5rem;
    transition: 2s;
    cursor: pointer;
    transition: transform 0.5s;
    /* display: flex; */
}
.box:hover{
    transform: scale(1.1);
}
@media(max-width: 768px){
    #container{
        width: 100%;
        display:block;
        margin-bottom:40px;
        margin-left: 20px;
    }
}
    

