.project-container {
  padding: 40px;
  text-align: center;
  background: radial-gradient(circle at top left, #191919, #000000);
}

.project-heading {
  font-size: 2.5rem;
  color:#FFC107 ;
  margin-bottom: 40px;
}

.swiper-container {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background: #fff;
  width: 300px;
  height: 380px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}

.swiper-slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.swiper-slide p {
  margin: 15px 0;
  font-weight: bold;
  color: #333;
}
