#box1{
    width: 90%;
    border: 0.5px solid black;
    margin: auto;
    border-radius: .5rem;
    box-shadow: 10px 10px;
    background-color: grey;
    opacity: 0.75;
    margin-bottom: 20px;
    cursor: pointer;
    /* animation-duration: alternate;
    animation-duration: 5s;
    animation-name:box1 ; */
}
#box1:hover{
    background-color: azure;
}
h2{
    color: rgb(106, 10, 113);
}
/* #box1{
        animation-name: example;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      } */

